<form [formGroup]="accountForm" (ngSubmit)="save()">
  <div class="p-field">
    <p-floatlabel>
      <input pInputText id="email" formControlName="email" />
      <label for="email">Email</label>
    </p-floatlabel>
    @if (accountForm.controls['email'].invalid && (accountForm.controls['email'].dirty || accountForm.controls['email'].touched)) {
    <p-message severity="error" variant="simple" size="small">
      @if (accountForm.controls['email'].errors.required) {
      <span>Email is required.</span>
      }
      @if (accountForm.controls['email'].errors.uniqueUsername) {
      <span>Email already exists.</span>
      }
      @if (accountForm.controls['email'].errors.email) {
      <span>Email is incorrect.</span>
      }
    </p-message>
    }
  </div>
  <div class="p-field">
    <p-floatlabel>
      <input pInputText id="lastname" formControlName="lastname" />
      <label for="lastname">Lastname</label>
    </p-floatlabel>
    @if (accountForm.controls['lastname'].invalid && (accountForm.controls['lastname'].dirty || accountForm.controls['lastname'].touched)) {
    <p-message severity="error" variant="simple" size="small">
      @if (accountForm.controls['lastname'].errors.notBlank) {
      <span>Lastname is required.</span>
      }
    </p-message>
    }
  </div>
  <div class="p-field">
    <p-floatlabel>
      <input pInputText id="firstname" formControlName="firstname" />
      <label for="firstname">Firstname</label>
    </p-floatlabel>
    @if (accountForm.controls['firstname'].invalid && (accountForm.controls['firstname'].dirty || accountForm.controls['firstname'].touched)) {
    <p-message severity="error" variant="simple" size="small">
      @if (accountForm.controls['firstname'].errors.notBlank) {
      <span>Firstname is required.</span>
      }
    </p-message>
    }
  </div>
  <div class="p-field">
    <p-floatlabel>
      <p-inputMask formControlName="birthday" mask="99/99/9999" slotChar="dd/mm/yyyy">
      </p-inputMask>
      <label for="birthday">Birthday</label>
    </p-floatlabel>
    @if (accountForm.controls['birthday'].invalid && (accountForm.controls['birthday'].dirty || accountForm.controls['birthday'].touched)) {
    <p-message severity="error" variant="simple" size="small">
      @if (accountForm.controls['birthday'].errors.required) {
      <span>Birthday is required.</span>
      }
    </p-message>
    }
  </div>
  <div class="p-field">
    <p-floatlabel>
      <input type="password" pInputText id="password" formControlName="password" />
      <label for="password">Password</label>
    </p-floatlabel>
    @if (accountForm.controls['password'].invalid && (accountForm.controls['password'].dirty || accountForm.controls['password'].touched)) {
    <p-message severity="error" variant="simple" size="small">
      @if (accountForm.controls['password'].errors.notBlank) {
      <span>Password is required.</span>
      }
    </p-message>
    }
  </div>
  <div class="flex flex-column md:flex-row">
    <div class="mb-2 mr-2">
      <button type="button" pButton icon="pi pi-times" (click)="cancel()" label="Cancel"></button>
    </div>
    <div class="mb-2 mr-2">
      <button type="submit" pButton icon="pi pi-check" label="Save" [disabled]="!accountForm.valid"></button>
    </div>
  </div>
</form>
