<form [formGroup]="accountForm" (ngSubmit)="save()" novalidate>
  <div>
    <mat-form-field>
      <input matInput formControlName="email" />
      <mat-label>Email</mat-label>
      @if (accountForm.controls["email"].invalid) {
        <mat-error>
          @if (accountForm.controls["email"].errors.required) {
            <span>Email is required.</span>
          }
          @if (accountForm.controls["email"].errors.uniqueUsername) {
            <span>Email already exists.</span>
          }
          @if (accountForm.controls["email"].errors.email) {
            <span>Email is incorrect.</span>
          }
        </mat-error>
      }
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput formControlName="lastname" />
      <mat-label>Lastname</mat-label>
      @if (accountForm.controls["lastname"].invalid) {
        <mat-error>
          @if (accountForm.controls["lastname"].errors.notBlank) {
            <span>Lastname is required.</span>
          }
        </mat-error>
      }
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput formControlName="firstname" />
      <mat-label>Firstname</mat-label>
      @if (accountForm.controls["firstname"].invalid) {
        <mat-error>
          @if (accountForm.controls["firstname"].errors.notBlank) {
            <span>Firstname is required.</span>
          }
        </mat-error>
      }
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        mask="d0/M0/0000"
        [dropSpecialCharacters]="false"
        [clearIfNotMatch]="true"
        formControlName="birthday"
      />
      <mat-label>Birthday</mat-label>
      @if (accountForm.controls["birthday"].invalid) {
        <mat-error>
          @if (accountForm.controls["birthday"].errors.notBlank) {
            <span>Birthday is required.</span>
          }
        </mat-error>
      }
    </mat-form-field>
  </div>
  <div class="button">
    <div>
      <button type="button" mat-raised-button (click)="cancel()" aria-label="cancel">
        <mat-icon>close</mat-icon>
        <span>Cancel</span>
      </button>
    </div>
    <div>
      <button type="submit" mat-raised-button [disabled]="!accountForm.valid" aria-label="save">
        <mat-icon>check</mat-icon>
        <span>Save</span>
      </button>
    </div>
  </div>
  <input type="hidden" formControlName="creation_date" />
  <input type="hidden" formControlName="update_date" />
  <input type="hidden" formControlName="id" />
</form>
